@font-face{
    font-family: Avantn;
    src: url(Fonts/AVANTN.ttf);
}

header{    
    background: rgb(44, 22, 247);
    display: flex;
}

#SouthParkImage{
    height: 100%;
    width: 7%;
}

.header-text {
    font-size: 2vw;
    font-family: Avantn;
}

.head-bar{
    display: flex;
    justify-content: space-between;
}

.head-link {
    color: white;
    text-decoration: none;
    margin: auto;
}

.head-link b:hover {
    border-bottom: 3px solid rgb(243, 55, 55);
}

#EasterEgg{
    display: contents;
}