html, body{
    height: 100%;
    width: 100%;
    background-color: rgb(219, 219, 219);    
    margin: 0;
}

@font-face{
    font-family: Avantn;
    src: url(./Fonts/AVANTN.ttf);
}

.app-body-wrapper{
    padding: 10px 0px 0px 0px;
    display: flex;
}

.main-div{
    position: relative;    
    background: rgb(44, 22, 247);
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    animation: Droppin 1s;
    animation-fill-mode: forwards;
}

@keyframes Droppin{
    from{top: 0px;}
    to{top: 100px;}
}

.nav-list{
    list-style-type: none;
}

.nav-list li{
    text-align: center;
}

.nav-list li a{
    text-decoration:none;
    color:white;
    font-family: Avantn;
    font-size: 3em; 
}

.title-h1{
    display: flex;
    justify-content: center
}

.general-content-div h2{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin: auto;
    width: 80%;
}